* {
  margin: 0;
  padding: 0;
}
*:focus {
  outline: none;
}

body, html {
  height: 100%;
}

.forPage {
  min-height: 100%;
  position: relative;
}

.page {
  padding-bottom: 150px;
}

img {
  width: auto;
  height: auto;
  max-width: 100%;
}

button {
  cursor: pointer;
}

.title {
  font-family: "vidalokaregular";
  font-size: 77px;
  color: #333;
  font-weight: normal;
  text-align: center;
  text-transform: capitalize;
}
.title--yellow {
  color: #ffeb3b;
  text-decoration: underline;
}

.description {
  font-family: "open_sansregular";
  font-size: 35px;
  color: #969595;
  font-weight: normal;
  text-align: center;
  width: 60%;
  margin: 0 auto;
}

.header {
  background-image: url("../img/header/content.png");
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
}
.header__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 60px;
  width: inherit;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
.header__logo {
  -webkit-box-flex: 25.5%;
      -ms-flex: 25.5%;
          flex: 25.5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.header__logoImg {
  height: 75%;
}
.header__menu {
  -webkit-box-flex: 49%;
      -ms-flex: 49%;
          flex: 49%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 15px;
  position: relative;
  top: 1px;
}
.header__search {
  -webkit-box-flex: 25.5%;
      -ms-flex: 25.5%;
          flex: 25.5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-top: 10px;
}
.header__separator {
  width: 1px;
  height: 40px;
  border-left: 1px solid #fff;
}
.header__searchIcon {
  margin: 7px 0 0 30px;
  font-size: 25px;
}
.header__content {
  padding: 300px 0 250px 0;
}
.header__title {
  font-family: "back_to_black_demoregular";
  font-size: 110px;
  color: #fff;
  font-weight: normal;
  text-align: center;
  line-height: 250px;
}
.header__title--big {
  font-size: 280px;
}

.menu__list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
}
.menu__item {
  color: #fff;
  padding-bottom: 50px;
}
.menu__item--active {
  color: #ffeb3b;
  border-bottom: 1px solid #ffeb3b;
}
.menu__link {
  font-family: "vidalokaregular";
  font-size: 22px;
  color: inherit;
  font-weight: normal;
  text-transform: uppercase;
  text-decoration: none;
  text-shadow: 0 0 15px black;
}

.search__icon {
  color: #fff;
  cursor: pointer;
}
.search__textInput {
  display: none;
}
.search__submit {
  display: none;
}

.service {
  margin: 150px 0 200px 0;
}
.service__title {
  margin-bottom: 250px;
}
.service__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 150px;
}

.serviceInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 33.333%;
      -ms-flex: 33.333%;
          flex: 33.333%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.serviceInfo__icon {
  margin-right: 50px;
  width: 90px;
}
.serviceInfo__img {
  width: 100%;
}
.serviceInfo__separator {
  width: 1px;
  border-left: 1px #f1f1f1 solid;
}
.serviceInfo__column {
  margin: 0 100px 0 50px;
}
.serviceInfo__title {
  font-family: "open_sansregular";
  font-size: 30px;
  color: #313131;
  font-weight: normal;
  margin-bottom: 50px;
}
.serviceInfo__description {
  font-family: "open_sansregular";
  font-size: 22px;
  color: #969595;
  font-weight: normal;
  line-height: 40px;
}

.stats {
  padding: 150px 0;
  text-align: center;
  background-image: url("../img/stats/background.png");
}
.stats__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.stats__item {
  -webkit-box-flex: 25%;
      -ms-flex: 25%;
          flex: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.stats__icon {
  width: 12%;
  margin: 0 auto;
}
.stats__number {
  font-family: "vidalokaregular";
  font-size: 100px;
  color: #fff;
  font-weight: normal;
  margin: 50px 0;
}
.stats__name {
  font-family: "vidalokaregular";
  font-size: 35px;
  color: #ffeb3b;
  font-weight: normal;
  text-transform: uppercase;
}

.title {
  font-family: "vidalokaregular";
  font-size: 77px;
  color: #333;
  font-weight: normal;
  text-align: center;
  text-transform: capitalize;
}
.title--yellow {
  color: #ffeb3b;
  text-decoration: underline;
}

.description {
  font-family: "open_sansregular";
  font-size: 35px;
  color: #969595;
  font-weight: normal;
  text-align: center;
  width: 60%;
  margin: 0 auto;
}

.portfolio {
  padding: 200px 0;
}
.portfolio__title {
  margin-bottom: 50px;
}
.portfolio__description {
  margin-bottom: 200px;
}
.portfolio__menu {
  margin-bottom: 150px;
}
.portfolio__listButtons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style: none;
}
.portfolio__button {
  margin: 0 10px;
  padding: 30px 80px;
  border: 4px #ffeb3b solid;
  font-family: "open_sansregular";
  font-size: 30px;
  color: #181a1f;
  font-weight: normal;
}
.portfolio__button--active {
  background-color: #ffeb3b;
}

.works {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: auto;
}
.works__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 90vh;
}
.works__column:nth-child(1) {
  -webkit-box-flex: 26%;
      -ms-flex: 26%;
          flex: 26%;
}
.works__column:nth-child(2) {
  -webkit-box-flex: 74%;
      -ms-flex: 74%;
          flex: 74%;
}
.works__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
}
.works__item {
  width: 100%;
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 3.5vw 3vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.works__item:hover:before {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ffeb3b;
  opacity: 0.8;
}
.works__item * {
  opacity: 0;
}
.works__item:hover * {
  opacity: 1;
}
.works__itemTitle {
  position: relative;
  z-index: 2;
  font-family: "vidalokaregular";
  font-size: 63px;
  color: #000;
  font-weight: normal;
  margin-bottom: 150px;
}
.works__itemDescription {
  position: relative;
  z-index: 2;
  font-family: "open_sansregular";
  font-size: 35px;
  color: #434242;
  font-weight: normal;
  line-height: 175%;
  margin-bottom: 100px;
}
.works__itemButton {
  position: relative;
  z-index: 2;
  font-family: "open_sansregular";
  font-size: 35px;
  color: #181a1f;
  font-weight: bold;
  text-decoration: none;
  border: 4px solid #181a1f;
  padding: 20px 0;
  width: 400px;
  text-align: center;
}

.container {
  max-width: 2500px;
  margin: 0 auto;
}

@media (max-width: 2880px) {
  .container {
    max-width: 1700px;
  }
}
@media (max-width: 1920px) {
  .container {
    max-width: 1170px;
  }
}
@media (max-width: 1440px) {
  .container {
    max-width: 960px;
  }
}
@media (max-width: 991px) {
  .container {
    max-width: 740px;
  }
}
@media (max-width: 767px) {
  .container {
    max-width: 550px;
  }
}
@media (max-width: 575px) {
  .container {
    max-width: 450px;
  }
}
@media (max-width: 500px) {
  .container {
    max-width: 370px;
  }
}
@media (max-width: 400px) {
  .container {
    max-width: 340px;
  }
}
@media (max-width: 340px) {
  .container {
    max-width: 280px;
  }
}