* {
  margin: 0;
  padding: 0;
}
*:focus {
  outline: none;
}

body, html {
  height: 100%;
}

.forPage {
  min-height: 100%;
  position: relative;
}

img {
  width: auto;
  height: auto;
  max-width: 100%;
}

button {
  cursor: pointer;
}

.title {
  font-family: "vidalokaregular";
  font-size: 77px;
  color: #333;
  font-weight: normal;
  text-align: center;
  text-transform: capitalize;
}
.title--yellow {
  color: #ffeb3b;
  text-decoration: underline;
}
@media (max-width: 2880px) {
  .title {
    font-size: 55px;
  }
}

.description {
  font-family: "open_sansregular";
  font-size: 35px;
  color: #969595;
  font-weight: normal;
  text-align: center;
  width: 60%;
}
@media (max-width: 2880px) {
  .description {
    font-size: 28px;
  }
}
@media (max-width: 767px) {
  .description {
    width: 80%;
  }
}

.header {
  background-image: url("../img/header/content.png");
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
}
.header__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 60px;
  width: inherit;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
.header__logo {
  -webkit-box-flex: 25.5%;
      -ms-flex: 25.5%;
          flex: 25.5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.header__logoImg {
  height: 75%;
}
.header__menu {
  -webkit-box-flex: 49%;
      -ms-flex: 49%;
          flex: 49%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 15px;
  position: relative;
  top: 1px;
}
.header__search {
  -webkit-box-flex: 25.5%;
      -ms-flex: 25.5%;
          flex: 25.5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-top: 10px;
}
.header__separator {
  width: 1px;
  height: 40px;
  border-left: 1px solid #fff;
}
.header__searchIcon {
  margin: 7px 0 0 30px;
  font-size: 25px;
}
.header__burger {
  display: none;
  cursor: pointer;
}
.header__burgerIcon {
  background-color: #fff;
  width: 30px;
  height: 4px;
  border-radius: 20px;
}
.header__burgerIcon:before {
  display: inline-block;
  content: "";
  background-color: #fff;
  width: 30px;
  height: 4px;
  border-radius: 20px;
  position: relative;
  top: -20px;
}
.header__burgerIcon:after {
  display: inline-block;
  content: "";
  background-color: #fff;
  width: 30px;
  height: 4px;
  border-radius: 20px;
  position: relative;
  top: -18px;
}
.header__content {
  padding: 300px 0 250px 0;
}
.header__title {
  font-family: "back_to_black_demoregular";
  font-size: 110px;
  color: #fff;
  font-weight: normal;
  text-align: center;
  line-height: 250px;
}
.header__title--big {
  font-size: 280px;
}
@media (max-width: 1920px) {
  .header__top {
    padding-top: 30px;
  }
  .header__searchIcon {
    margin: 5px 0 0 20px;
    font-size: 22px;
  }
  .header__content {
    padding: 200px 0;
  }
}
@media (max-width: 1600px) {
  .header__top {
    padding-top: 20px;
  }
  .header__logo {
    -webkit-box-flex: 20%;
        -ms-flex: 20%;
            flex: 20%;
  }
  .header__menu {
    -webkit-box-flex: 55%;
        -ms-flex: 55%;
            flex: 55%;
    margin-left: 20px;
  }
  .header__search {
    -webkit-box-flex: 25%;
        -ms-flex: 25%;
            flex: 25%;
    height: 61px;
  }
  .header__content {
    padding: 100px 0;
  }
  .header__title {
    line-height: 200px;
    font-size: 90px;
  }
  .header__title--big {
    font-size: 220px;
  }
}
@media (max-width: 1366px) {
  .header__top {
    padding-top: 15px;
  }
  .header__search {
    top: 0;
    height: 50px;
  }
  .header__searchIcon {
    font-size: 18px;
    margin: 5px 0 0 10px;
  }
  .header__title {
    font-size: 70px;
    line-height: 160px;
  }
  .header__title--big {
    font-size: 180px;
  }
}
@media (max-width: 991px) {
  .header__top {
    padding-top: 10px;
    width: 70%;
    margin: 0 auto;
  }
  .header__logo {
    -webkit-box-flex: 30%;
        -ms-flex: 30%;
            flex: 30%;
  }
  .header__separator {
    height: 35px;
  }
  .header__search {
    -webkit-box-flex: 60%;
        -ms-flex: 60%;
            flex: 60%;
  }
  .header__searchIcon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 3px 0 0 10px;
    font-size: 15px;
  }
  .header__burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-flex: 10%;
        -ms-flex: 10%;
            flex: 10%;
  }
}
@media (max-width: 767px) {
  .header__logo {
    -webkit-box-flex: 80%;
        -ms-flex: 80%;
            flex: 80%;
  }
  .header__search {
    display: none;
  }
  .header__burger {
    -webkit-box-flex: 20%;
        -ms-flex: 20%;
            flex: 20%;
  }
  .header__title {
    font-size: 55px;
    line-height: 120px;
  }
  .header__title--big {
    font-size: 130px;
  }
}

.menu__list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
}
.menu__item {
  color: #fff;
  padding-bottom: 50px;
  border-bottom: 1px solid transparent;
}
.menu__item--active {
  color: #ffeb3b;
  border-bottom: 1px solid #ffeb3b;
}
.menu__item:hover {
  color: #ffeb3b;
  border-bottom: 1px solid #ffeb3b;
}
.menu__link {
  font-family: "vidalokaregular";
  font-size: 22px;
  color: inherit;
  font-weight: normal;
  text-transform: uppercase;
  text-decoration: none;
  text-shadow: 0 0 15px #000;
}
@media (max-width: 2880px) {
  .menu__link {
    font-size: 18px;
  }
}
@media (max-width: 1920px) {
  .menu__item {
    padding-bottom: 40px;
  }
  .menu__link {
    font-size: 16px;
  }
}
@media (max-width: 1600px) {
  .menu__item {
    padding-bottom: 0;
  }
  .menu__link {
    font-size: 15px;
  }
}
@media (max-width: 1366px) {
  .menu__item {
    padding-bottom: 15px;
  }
}
@media (max-width: 991px) {
  .menu {
    position: fixed;
    z-index: 10;
    left: -50vw;
    top: 0;
    margin: 0;
    background-image: url("../img/footer/Path.png");
    height: 100vh;
    width: 50vw;
    -webkit-transition: left 0.5s;
    transition: left 0.5s;
  }
  .menu__open:after {
    content: "";
    position: absolute;
    top: 0;
    left: 50vw;
    width: 100vw;
    height: 100vh;
    background-color: #000;
    opacity: 0.5;
  }
  .menu__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .menu__item {
    display: inline-block;
    width: 20vw;
    padding-bottom: 10px;
    margin: 15px auto;
  }
  .menu__link {
    font-size: 25px;
  }
}

.search__icon {
  color: #fff;
  cursor: pointer;
  position: relative;
  top: -3px;
}
.search__textInput {
  opacity: 0;
  width: 0;
  border: none;
  background-color: transparent;
  height: 30px;
  position: relative;
  top: -3px;
  padding: 0 5px;
  -webkit-transition: width 1s;
  transition: width 1s;
  text-align: right;
  font-family: "open_sansregular";
  font-size: 30px;
  color: #fff;
  font-weight: normal;
}
@media (max-width: 2880px) {
  .search__textInput {
    font-size: 22px;
  }
}
@media (max-width: 1920px) {
  .search__icon {
    top: 2px;
  }
  .search__textInput {
    top: 0;
    font-size: 20px;
  }
}
@media (max-width: 1600px) {
  .search__textInput {
    top: 0;
    font-size: 15px;
  }
}
@media (max-width: 991px) {
  .search__icon {
    top: 7px;
  }
  .search__textInput {
    font-size: 13px;
  }
}

.coreService {
  margin: 150px 0 200px 0;
}
.coreService__title {
  margin-bottom: 250px;
}
.coreService__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 150px;
}
@media (max-width: 2880px) {
  .coreService {
    font-size: 20px;
  }
}
@media (max-width: 2560px) {
  .coreService__title {
    margin-bottom: 150px;
  }
}
@media (max-width: 1920px) {
  .coreService {
    margin: 100px 0;
  }
  .coreService__title {
    font-size: 38px;
    margin-bottom: 100px;
  }
  .coreService__row {
    margin-bottom: 80px;
  }
}
@media (max-width: 1600px) {
  .coreService {
    margin: 70px 0;
  }
  .coreService__title {
    font-size: 30px;
    margin-bottom: 70px;
  }
}
@media (max-width: 991px) {
  .coreService {
    margin: 50px 0;
  }
  .coreService__title {
    font-size: 24px;
  }
}
@media (max-width: 767px) {
  .coreService__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 0;
  }
}

.coreServiceInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 33.333%;
      -ms-flex: 33.333%;
          flex: 33.333%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.coreServiceInfo__icon {
  margin-right: 50px;
  width: 90px;
}
.coreServiceInfo__img {
  width: 100%;
}
.coreServiceInfo__separator {
  width: 1px;
  border-left: 1px #f1f1f1 solid;
}
.coreServiceInfo__column {
  margin: 0 100px 0 50px;
}
.coreServiceInfo__title {
  font-family: "open_sansregular";
  font-size: 30px;
  color: #333;
  font-weight: normal;
  margin-bottom: 50px;
}
.coreServiceInfo__description {
  font-family: "open_sansregular";
  font-size: 22px;
  color: #969595;
  font-weight: normal;
  line-height: 40px;
}
@media (max-width: 2880px) {
  .coreServiceInfo__icon {
    margin-right: 30px;
  }
  .coreServiceInfo__column {
    margin: 0 50px 0 30px;
  }
}
@media (max-width: 1920px) {
  .coreServiceInfo__column {
    margin: 0 30px 0 20px;
  }
  .coreServiceInfo__icon {
    margin-right: 20px;
  }
  .coreServiceInfo__title {
    font-size: 28px;
    margin-bottom: 25px;
  }
  .coreServiceInfo__description {
    font-size: 17px;
    line-height: 35px;
  }
}
@media (max-width: 1600px) {
  .coreServiceInfo__title {
    font-size: 24px;
    margin-bottom: 20px;
  }
  .coreServiceInfo__description {
    font-size: 14px;
    line-height: 25px;
  }
}
@media (max-width: 1366px) {
  .coreServiceInfo__title {
    font-size: 22px;
  }
}
@media (max-width: 991px) {
  .coreServiceInfo__icon {
    margin-right: 15px;
  }
  .coreServiceInfo__column {
    margin: 0 20px 0 15px;
  }
  .coreServiceInfo__title {
    font-size: 18px;
    margin-bottom: 15px;
  }
  .coreServiceInfo__description {
    font-size: 13px;
    line-height: 20px;
  }
}
@media (max-width: 767px) {
  .coreServiceInfo {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 25px 0;
  }
  .coreServiceInfo__icon {
    width: 50px;
    margin-right: 0;
  }
  .coreServiceInfo__separator {
    margin: 0 30px;
  }
  .coreServiceInfo__column {
    margin: 0;
    width: 70%;
  }
  .coreServiceInfo__title {
    font-size: 20px;
  }
  .coreServiceInfo__description {
    font-size: 14px;
  }
}

.stats {
  padding: 150px 0;
  text-align: center;
  background-image: url("../img/stats/background.png");
}
.stats__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.stats__item {
  -webkit-box-flex: 25%;
      -ms-flex: 25%;
          flex: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.stats__icon {
  width: 80px;
  margin: 0 auto;
}
.stats__number {
  font-family: "vidalokaregular";
  font-size: 100px;
  color: #fff;
  font-weight: normal;
  margin: 50px 0;
}
.stats__name {
  font-family: "vidalokaregular";
  font-size: 35px;
  color: #ffeb3b;
  font-weight: normal;
  text-transform: uppercase;
}
@media (max-width: 2880px) {
  .stats__icon {
    width: 65px;
  }
  .stats__number {
    font-size: 80px;
  }
  .stats__name {
    font-size: 30px;
  }
}
@media (max-width: 2560px) {
  .stats {
    padding: 120px 0;
  }
  .stats__icon {
    width: 55px;
  }
  .stats__number {
    font-size: 65px;
  }
  .stats__name {
    font-size: 26px;
  }
}
@media (max-width: 1920px) {
  .stats {
    padding: 100px 0;
  }
  .stats__icon {
    width: 45px;
  }
  .stats__number {
    margin: 30px 0;
    font-size: 50px;
  }
  .stats__name {
    font-size: 20px;
  }
}
@media (max-width: 1600px) {
  .stats {
    padding: 80px 0;
  }
  .stats__icon {
    width: 40px;
  }
  .stats__number {
    font-size: 44px;
    margin: 25px 0;
  }
  .stats__name {
    font-size: 18px;
  }
}
@media (max-width: 1366px) {
  .stats__icon {
    width: 33px;
  }
  .stats__number {
    font-size: 38px;
    margin: 20px 0;
  }
  .stats__name {
    font-size: 16px;
  }
}
@media (max-width: 991px) {
  .stats {
    padding: 60px 0;
  }
  .stats__icon {
    width: 30px;
  }
  .stats__number {
    font-size: 33px;
  }
  .stats__name {
    font-size: 15px;
  }
}

@-webkit-keyframes animateVisible {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes animateVisible {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.portfolio {
  padding-top: 200px;
}
.portfolio__title {
  margin-bottom: 50px;
}
.portfolio__description {
  margin: 0 auto 200px auto;
}
.portfolio__menu {
  margin-bottom: 150px;
}
.portfolio__listButtons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style: none;
}
.portfolio__button {
  margin: 0 10px;
  padding: 30px 80px;
  border: 4px #ffeb3b solid;
  font-family: "open_sansregular";
  font-size: 30px;
  color: #181a1f;
  font-weight: normal;
  cursor: pointer;
}
.portfolio__button--active {
  background-color: #ffeb3b;
}
@media (max-width: 2880px) {
  .portfolio__button {
    padding: 25px 60px;
    font-size: 25px;
  }
}
@media (max-width: 2560px) {
  .portfolio {
    padding-top: 120px;
  }
  .portfolio__description {
    font-size: 24px;
    margin-bottom: 130px;
  }
  .portfolio__menu {
    margin-bottom: 80px;
  }
  .portfolio__button {
    padding: 17px 50px;
    font-size: 23px;
  }
}
@media (max-width: 1920px) {
  .portfolio {
    padding-top: 100px;
  }
  .portfolio__title {
    margin-bottom: 40px;
    font-size: 50px;
  }
  .portfolio__description {
    margin-bottom: 100px;
    font-size: 20px;
  }
  .portfolio__menu {
    margin-bottom: 60px;
  }
  .portfolio__button {
    padding: 13px 40px;
    font-size: 20px;
    margin: 0 5px;
  }
}
@media (max-width: 1600px) {
  .portfolio {
    padding-top: 80px;
  }
  .portfolio__title {
    font-size: 40px;
    margin-bottom: 30px;
  }
  .portfolio__description {
    font-size: 16px;
    margin-bottom: 60px;
  }
  .portfolio__menu {
    margin-bottom: 40px;
  }
  .portfolio__button {
    padding: 8px 30px;
    font-size: 15px;
    border: 2px #ffeb3b solid;
  }
}
@media (max-width: 991px) {
  .portfolio {
    padding-top: 60px;
  }
  .portfolio__title {
    font-size: 35px;
    margin-bottom: 20px;
  }
  .portfolio__description {
    font-size: 14px;
    margin-bottom: 50px;
  }
  .portfolio__button {
    font-size: 14px;
    padding: 7px 25px;
  }
}

.works {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: auto;
}
.works__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 1600px;
}
.works__column:nth-child(1) {
  -webkit-box-flex: 26%;
      -ms-flex: 26%;
          flex: 26%;
}
.works__column:nth-child(2) {
  -webkit-box-flex: 74%;
      -ms-flex: 74%;
          flex: 74%;
}
.works__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
}
.works__item {
  width: 100%;
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.works__item:before {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 1%;
  height: 100%;
  background-color: #ffeb3b;
  opacity: 0;
  -webkit-transition: opacity 1s, width 1s;
  transition: opacity 1s, width 1s;
}
.works__item:hover:before {
  opacity: 0.8;
  width: 100%;
}
.works__item * {
  opacity: 0;
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
}
.works__item:hover * {
  opacity: 1;
}
.works__itemTitle {
  position: relative;
  z-index: 2;
  font-family: "vidalokaregular";
  font-size: 63px;
  color: #000;
  font-weight: normal;
  margin-bottom: 100px;
}
.works__itemDescription {
  position: relative;
  z-index: 2;
  font-family: "open_sansregular";
  font-size: 35px;
  color: #434242;
  font-weight: normal;
  line-height: 175%;
  margin-bottom: 60px;
}
.works__itemButton {
  position: relative;
  z-index: 2;
  font-family: "open_sansregular";
  font-size: 35px;
  color: #181a1f;
  font-weight: bold;
  text-decoration: none;
  border: 4px solid #181a1f;
  padding: 20px 0;
  width: 400px;
  text-align: center;
}
@media (max-width: 3200px) {
  .works__item {
    padding: 70px;
  }
}
@media (max-width: 2880px) {
  .works__column {
    height: 1250px;
  }
  .works__itemTitle {
    margin-bottom: 70px;
    font-size: 53px;
  }
  .works__itemDescription {
    margin-bottom: 40px;
    font-size: 30px;
  }
  .works__itemButton {
    font-size: 30px;
  }
}
@media (max-width: 2560px) {
  .works__column {
    height: 1100px;
  }
  .works__item {
    padding: 50px;
  }
  .works__itemTitle {
    margin-bottom: 50px;
    font-size: 44px;
  }
  .works__itemDescription {
    margin-bottom: 30px;
    font-size: 26px;
  }
  .works__itemButton {
    font-size: 26px;
    width: 300px;
  }
}
@media (max-width: 1920px) {
  .works__column {
    height: 850px;
  }
  .works__itemTitle {
    margin-bottom: 40px;
    font-size: 30px;
  }
  .works__itemDescription {
    margin-bottom: 20px;
    font-size: 20px;
  }
  .works__itemButton {
    font-size: 20px;
    padding: 12px 0;
    width: 200px;
  }
}
@media (max-width: 1600px) {
  .works__column {
    height: 650px;
  }
  .works__item {
    padding: 30px;
  }
  .works__itemTitle {
    margin-bottom: 20px;
    font-size: 28px;
  }
  .works__itemDescription {
    margin-bottom: 15px;
    font-size: 15px;
  }
  .works__itemButton {
    font-size: 16px;
    padding: 8px 0;
    width: 150px;
    border: 2px solid #181a1f;
  }
}
@media (max-width: 1280px) {
  .works__column {
    height: 550px;
  }
  .works__item {
    padding: 20px 25px;
  }
  .works__itemTitle {
    margin-bottom: 15px;
    font-size: 25px;
  }
  .works__itemDescription {
    margin-bottom: 10px;
    font-size: 14px;
  }
  .works__itemButton {
    font-size: 14px;
    padding: 7px 0;
    width: 130px;
    border: 2px solid #181a1f;
  }
}
@media (max-width: 991px) {
  .works__column {
    height: 500px;
  }
  .works__item {
    padding: 15px;
  }
  .works__itemTitle {
    font-size: 20px;
  }
  .works__itemDescription {
    font-size: 12px;
  }
  .works__itemButton {
    font-size: 12px;
    padding: 6px 0;
    width: 100px;
    border: 2px solid #181a1f;
  }
}
@media (max-width: 980px) {
  .works {
    position: relative;
    padding-bottom: 250px;
  }
  .works__column {
    height: 400px;
  }
  .works__column:nth-child(1) {
    -webkit-box-flex: 40%;
        -ms-flex: 40%;
            flex: 40%;
  }
  .works__column:nth-child(2) .works__row:nth-child(1) {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .works__row:nth-child(2) {
    position: absolute;
    top: 400px;
    left: 0;
    height: 250px;
    width: 100%;
  }
  .works__item {
    height: 100%;
    padding: 0 15px;
  }
}

.service {
  padding: 300px 0;
}
.service__title {
  margin-bottom: 50px;
}
.service__description {
  margin: 0 auto 200px auto;
}
.service__infoBlocks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.service__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 700px;
  margin: 35px 0;
}
.service__item {
  -webkit-box-flex: 33.333%;
      -ms-flex: 33.333%;
          flex: 33.333%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  height: 100%;
  margin: 0 35px;
  padding: 0 70px;
  color: #fff;
}
.service__itemTitle {
  font-family: "open_sansregular";
  font-size: 50px;
  color: "";
  font-weight: normal;
  margin-bottom: 50px;
}
.service__itemDescription {
  font-family: "open_sansregular";
  font-size: 30px;
  color: "";
  font-weight: normal;
  line-height: 50px;
  margin-bottom: 100px;
}
.service__itemLink {
  font-family: "open_sansregular";
  font-size: 35px;
  color: #ffeb3b;
  font-weight: bold;
}
.service__itemLink--black {
  color: #000;
}
.service__item--red {
  background-color: #ff5252;
}
.service__item--green {
  background-color: #4caf50;
}
.service__item--purple {
  background-color: #673ab7;
}
.service__item--blue {
  background-color: #2196f3;
}
.service__item--yellow {
  background-color: #ffeb3b;
  color: #000;
}
.service__item--aqua {
  background-color: #00bcd4;
}
@media (max-width: 2880px) {
  .service {
    padding: 200px 0;
  }
  .service__row {
    height: 500px;
    margin: 20px 0;
  }
  .service__item {
    margin: 0 20px;
    padding: 0 40px;
  }
  .service__itemTitle {
    font-size: 40px;
  }
  .service__itemDescription {
    font-size: 26px;
    margin-bottom: 50px;
  }
  .service__itemLink {
    font-size: 30px;
  }
}
@media (max-width: 2560px) {
  .service {
    padding: 120px 0;
  }
  .service__description {
    font-size: 24px;
    margin-bottom: 120px;
  }
  .service__itemDescription {
    font-size: 24px;
    line-height: 40px;
  }
}
@media (max-width: 1920px) {
  .service {
    padding: 100px 0;
  }
  .service__title {
    font-size: 50px;
    margin-bottom: 40px;
  }
  .service__description {
    font-size: 20px;
    margin-bottom: 100px;
  }
  .service__row {
    margin: 15px 0;
    height: 350px;
  }
  .service__item {
    margin: 0 15px;
    padding: 0 25px;
  }
  .service__itemTitle {
    font-size: 30px;
    margin-bottom: 25px;
  }
  .service__itemDescription {
    font-size: 20px;
    margin-bottom: 25px;
    line-height: 30px;
  }
  .service__itemLink {
    font-size: 25px;
  }
}
@media (max-width: 1600px) {
  .service {
    padding: 80px 0;
  }
  .service__title {
    font-size: 40px;
    margin-bottom: 30px;
  }
  .service__description {
    font-size: 16px;
    margin-bottom: 60px;
  }
  .service__row {
    height: 280px;
    margin: 8px 0;
  }
  .service__item {
    margin: 0 8px;
  }
  .service__itemTitle {
    font-size: 25px;
    margin-bottom: 20px;
  }
  .service__itemDescription {
    font-size: 16px;
    margin-bottom: 20px;
    line-height: 25px;
  }
  .service__itemLink {
    font-size: 20px;
  }
}
@media (max-width: 991px) {
  .service {
    padding: 60px 0;
  }
  .service__title {
    font-size: 35px;
    margin-bottom: 20px;
  }
  .service__description {
    font-size: 14px;
    margin-bottom: 50px;
  }
  .service__row {
    height: 210px;
    margin: 5px 0;
  }
  .service__item {
    margin: 0 5px;
    padding: 0 10px;
  }
  .service__itemTitle {
    font-size: 20px;
    margin-bottom: 15px;
  }
  .service__itemDescription {
    font-size: 14px;
    margin-bottom: 15px;
    line-height: 20px;
  }
  .service__itemLink {
    font-size: 16px;
  }
}
@media (max-width: 767px) {
  .service__description {
    margin-bottom: 20px;
  }
  .service__infoBlocks {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .service__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: auto;
  }
  .service__item {
    -webkit-box-flex: 1;
        -ms-flex: auto;
            flex: auto;
    margin: 10px auto;
    width: 200px;
    height: 200px;
  }
}

.clients {
  background-image: url("../img/clients/Path.png");
  padding: 250px 0;
}
.clients__title {
  color: #fff;
  text-align: left;
  margin-bottom: 70px;
}
.clients__description {
  text-align: left;
  line-height: 50px;
  margin-bottom: 200px;
  width: 80%;
}
.clients__item {
  margin-bottom: 100px;
}
.clients__logo {
  margin: 0 auto;
  height: 80px;
}
@media (max-width: 2880px) {
  .clients {
    padding: 200px 0;
  }
  .clients__logo {
    height: 60px;
  }
}
@media (max-width: 2560px) {
  .clients {
    padding: 120px 0;
  }
  .clients__logo {
    height: 50px;
  }
}
@media (max-width: 1920px) {
  .clients {
    padding: 100px 0;
  }
  .clients__title {
    font-size: 50px;
    margin-bottom: 40px;
  }
  .clients__description {
    font-size: 22px;
    margin-bottom: 100px;
  }
  .clients__item {
    margin-bottom: 50px;
  }
  .clients__logo {
    height: 35px;
  }
}
@media (max-width: 1600px) {
  .clients {
    padding: 80px 0;
  }
  .clients__title {
    font-size: 40px;
    margin-bottom: 30px;
  }
  .clients__description {
    font-size: 16px;
    margin-bottom: 80px;
    line-height: 30px;
  }
  .clients__logo {
    height: 30px;
  }
}
@media (max-width: 991px) {
  .clients {
    padding-top: 60px;
  }
  .clients__title {
    font-size: 35px;
    margin-bottom: 20px;
  }
  .clients__description {
    font-size: 14px;
    margin-bottom: 50px;
    line-height: 25px;
  }
  .clients__logo {
    height: 25px;
  }
}

.team {
  padding: 250px 0;
}
.team__title {
  font-size: 120px;
  margin-bottom: 70px;
}
.team__description {
  margin: 0 auto 250px auto;
  width: 40%;
}
.team__workers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.team__item {
  -webkit-box-flex: 33.333%;
      -ms-flex: 33.333%;
          flex: 33.333%;
  margin: 0 35px;
}
.team__photo {
  width: 100%;
}
.team__info {
  text-align: center;
  padding: 40px 0;
  border: 3px #f1f1f1 solid;
  margin-top: -4px;
}
.team__name {
  font-family: "open_sansregular";
  font-size: 35px;
  color: #333;
  font-weight: normal;
  margin-bottom: 40px;
}
.team__text {
  font-family: "open_sansregular";
  font-size: 25px;
  color: #969595;
  font-weight: normal;
  width: 80%;
  margin: 0 auto;
  line-height: 50px;
}
.team__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 40px 0;
  border: 3px #f1f1f1 solid;
  border-top: none;
}
.team__linkItem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 40px;
  color: #dadada;
  margin: 0 20px;
  border: 2px #f1f1f1 solid;
  border-radius: 100%;
  width: 80px;
  height: 80px;
  text-decoration: none;
}
.team__linkItem:hover {
  background-color: #ffeb3b;
  border: 2px solid #ffeb3b;
  color: #fff;
}
@media (max-width: 2880px) {
  .team {
    padding: 200px 0;
  }
  .team__title {
    font-size: 90px;
  }
  .team__description {
    margin-bottom: 150px;
  }
  .team__linkItem {
    font-size: 30px;
    width: 60px;
    height: 60px;
  }
}
@media (max-width: 2560px) {
  .team {
    padding: 120px 0;
  }
  .team__title {
    font-size: 80px;
  }
  .team__description {
    font-size: 24px;
    margin-bottom: 120px;
  }
  .team__item {
    margin: 0 20px;
  }
  .team__name {
    font-size: 30px;
  }
  .team__text {
    font-size: 22px;
    line-height: 40px;
  }
}
@media (max-width: 1920px) {
  .team {
    padding: 100px 0;
  }
  .team__title {
    font-size: 65px;
    margin-bottom: 40px;
  }
  .team__description {
    font-size: 22px;
    margin-bottom: 100px;
  }
  .team__item {
    margin: 0 10px;
  }
  .team__info {
    padding: 30px 0;
  }
  .team__name {
    margin-bottom: 30px;
  }
  .team__text {
    font-size: 20px;
    line-height: 35px;
  }
  .team__links {
    padding: 30px 0;
  }
  .team__linkItem {
    width: 50px;
    height: 50px;
    font-size: 22px;
    margin: 0 10px;
  }
}
@media (max-width: 1600px) {
  .team {
    padding: 80px 0;
  }
  .team__title {
    font-size: 50px;
    margin-bottom: 30px;
  }
  .team__description {
    font-size: 16px;
    margin-bottom: 80px;
  }
  .team__name {
    font-size: 25px;
    margin-bottom: 20px;
  }
  .team__text {
    font-size: 15px;
    line-height: 25px;
  }
  .team__links {
    padding: 15px 0;
  }
  .team__linkItem {
    width: 40px;
    height: 40px;
    font-size: 18px;
    margin: 0 10px;
  }
}
@media (max-width: 991px) {
  .team {
    padding-top: 60px;
  }
  .team__title {
    font-size: 40px;
    margin-bottom: 20px;
  }
  .team__description {
    font-size: 14px;
    margin-bottom: 50px;
    line-height: 25px;
  }
  .team__item {
    margin: 0 5px;
  }
  .team__info {
    padding: 20px 0;
  }
  .team__name {
    font-size: 22px;
  }
  .team__text {
    font-size: 14px;
    width: 90%;
  }
}
@media (max-width: 767px) {
  .team__item {
    margin: 0 3px;
  }
  .team__links {
    padding: 10px 0;
  }
  .team__linkItem {
    width: 30px;
    height: 30px;
    font-size: 14px;
  }
}

.join {
  background-image: url("../img/join/Path.png");
  padding: 250px 0 250px 0;
}
.join__title {
  font-size: 120px;
  margin-bottom: 50px;
  color: #fff;
}
.join__description {
  margin: 0 auto 150px auto;
  width: 40%;
  line-height: 50px;
}
.join__form {
  text-align: center;
}
.join__mailInput {
  width: 40%;
  height: 120px;
  padding: 0 50px;
  border: none;
  background-color: #5c5f66;
  font-family: "open_sansregular";
  font-size: 30px;
  color: #fff;
  font-weight: normal;
}
.join__mailInput::-webkit-input-placeholder {
  color: #fff;
}
.join__mailInput::-moz-placeholder {
  color: #fff;
}
.join__mailInput:-ms-input-placeholder {
  color: #fff;
}
.join__mailInput::-ms-input-placeholder {
  color: #fff;
}
.join__mailInput::placeholder {
  color: #fff;
}
.join__submit {
  width: 15%;
  height: 120px;
  border: none;
  margin-left: 50px;
  position: relative;
  top: 3px;
  background-color: #ffeb3b;
  font-family: "open_sansregular";
  font-size: 35px;
  color: #000;
  font-weight: normal;
}
.join__submit:hover {
  opacity: 0.8;
}
@media (max-width: 2880px) {
  .join {
    padding: 200px 0;
  }
  .join__title {
    font-size: 90px;
  }
  .join__mailInput {
    height: 100px;
    font-size: 28px;
  }
  .join__submit {
    height: 100px;
  }
}
@media (max-width: 2560px) {
  .join {
    padding: 120px 0;
  }
  .join__title {
    font-size: 80px;
  }
  .join__description {
    font-size: 24px;
    margin-bottom: 100px;
  }
  .join__mailInput {
    height: 90px;
    font-size: 26px;
    padding: 0 40px;
  }
  .join__submit {
    height: 90px;
    font-size: 30px;
  }
}
@media (max-width: 1920px) {
  .join {
    padding: 100px 0;
  }
  .join__title {
    font-size: 65px;
  }
  .join__description {
    font-size: 22px;
    margin-bottom: 80px;
    line-height: 35px;
  }
  .join__mailInput {
    height: 70px;
    padding: 0 30px;
    font-size: 22px;
  }
  .join__submit {
    height: 70px;
    font-size: 25px;
    margin-left: 30px;
    top: 1px;
  }
}
@media (max-width: 1600px) {
  .join {
    padding: 80px 0;
  }
  .join__title {
    font-size: 50px;
    margin-bottom: 30px;
  }
  .join__description {
    font-size: 16px;
    margin-bottom: 50px;
    line-height: 25px;
  }
  .join__mailInput {
    height: 50px;
    padding: 0 20px;
    font-size: 16px;
  }
  .join__submit {
    height: 50px;
    font-size: 20px;
    margin-left: 10px;
    top: 1px;
  }
}
@media (max-width: 991px) {
  .join {
    padding-top: 60px;
  }
  .join__title {
    font-size: 40px;
    margin-bottom: 20px;
  }
  .join__description {
    font-size: 14px;
    margin-bottom: 50px;
    line-height: 25px;
  }
}
@media (max-width: 767px) {
  .join__description {
    width: 80%;
  }
  .join__mailInput {
    width: 60%;
    height: 45px;
  }
  .join__submit {
    height: 45px;
    font-size: 18px;
  }
}

.footer {
  padding: 100px 0;
  background-image: url("../img/footer/Path.png");
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  text-align: center;
}
.footer__logo {
  height: 120px;
  margin-bottom: 100px;
}
.footer__author {
  font-family: "vidalokaregular";
  font-size: 35px;
  color: #fff;
  font-weight: normal;
  margin-bottom: 100px;
}
.footer__linkItem {
  font-size: 70px;
  color: #fff;
  margin: 0 40px;
  text-decoration: none;
}
.footer__linkItem:hover {
  color: #ffeb3b;
}
@media (max-width: 2880px) {
  .footer__logo {
    height: 100px;
  }
  .footer__author {
    font-size: 30px;
  }
  .footer__linkItem {
    font-size: 50px;
  }
}
@media (max-width: 2560px) {
  .footer {
    padding: 80px 0;
  }
  .footer__logo {
    height: 80px;
    margin-bottom: 70px;
  }
  .footer__author {
    font-size: 26px;
    margin-bottom: 70px;
  }
  .footer__linkItem {
    font-size: 40px;
  }
}
@media (max-width: 1920px) {
  .footer {
    padding: 70px 0;
  }
  .footer__logo {
    height: 70px;
    margin-bottom: 40px;
  }
  .footer__author {
    font-size: 22px;
    margin-bottom: 40px;
  }
  .footer__linkItem {
    font-size: 30px;
    margin: 0 20px;
  }
}
@media (max-width: 1600px) {
  .footer {
    padding: 50px 0;
  }
  .footer__logo {
    height: 50px;
    margin-bottom: 20px;
  }
  .footer__author {
    font-size: 16px;
    margin-bottom: 30px;
  }
  .footer__linkItem {
    font-size: 25px;
  }
}

.page {
  padding-bottom: 649px;
}
@media (max-width: 2880px) {
  .page {
    padding-bottom: 600px;
  }
}
@media (max-width: 2560px) {
  .page {
    padding-bottom: 462px;
  }
}
@media (max-width: 1920px) {
  .page {
    padding-bottom: 357px;
  }
}
@media (max-width: 1600px) {
  .page {
    padding-bottom: 253px;
  }
}

.container {
  max-width: 2500px;
  margin: 0 auto;
}

@media (max-width: 2880px) {
  .container {
    max-width: 1700px;
  }

  .slick-dots li {
    width: 10px;
  }
  .slick-dots li button:before {
    font-size: 20px;
  }
}
@media (max-width: 1920px) {
  .container {
    max-width: 1170px;
  }
}
@media (max-width: 1600px) {
  .container {
    max-width: 960px;
  }

  .slick-dots li {
    width: 0;
  }
  .slick-dots li button:before {
    font-size: 14px;
  }
}
@media (max-width: 991px) {
  .container {
    max-width: 740px;
  }
}
@media (max-width: 767px) {
  .container {
    max-width: 550px;
  }
}
@media (max-width: 575px) {
  .container {
    max-width: 450px;
  }
}
@media (max-width: 500px) {
  .container {
    max-width: 370px;
  }
}
@media (max-width: 400px) {
  .container {
    max-width: 340px;
  }
}
@media (max-width: 340px) {
  .container {
    max-width: 280px;
  }
}