@import "source";

.title {
  @include fontStyle('vidalokaregular', 77px, #333, normal);
  text-align: center;
  text-transform: capitalize;

  &--yellow {
    color: $colorYellow;
    text-decoration: underline;
  }
}

.description {
  @include fontStyle('open_sansregular', 35px, #969595, normal);
  text-align: center;
  width: 60%;
  margin: 0 auto;
}