@import "source";

.clients {
  background-image: url("../img/clients/Path.png");
  padding: 250px 0;

  &__title {
    color: $colorWhite;
    text-align: left;
    margin-bottom: 70px;
  }
  &__description {
    text-align: left;
    line-height: 50px;
    margin-bottom: 200px;
    width: 80%;
  }
  &__slider {}
  &__item {
    margin-bottom: 100px;
  }
  &__logo {
    margin: 0 auto;
    height: 80px;
  }



  @media (max-width: 2880px) {
    padding: 200px 0;

    &__logo {
      height: 60px;
    }
  }

  @media (max-width: 2560px) {
    padding: 120px 0;

    &__logo {
      height: 50px;
    }
  }
}