@import "source";

.clients {
  background-image: url("../img/clients/Path.png");
  padding: 250px 0;

  &__title {
    color: $colorWhite;
    text-align: left;
    margin-bottom: 70px;
  }
  &__description {
    text-align: left;
    line-height: 50px;
    margin-bottom: 200px;
    width: 80%;
  }
  &__slider {}
  &__item {
    margin-bottom: 100px;
  }
  &__logo {
    margin: 0 auto;
    height: 80px;
  }



  @media (max-width: 2880px) {
    padding: 200px 0;

    &__logo {
      height: 60px;
    }
  }

  @media (max-width: 2560px) {
    padding: 120px 0;

    &__logo {
      height: 50px;
    }
  }

  @media (max-width: 1920px) {
    padding: 100px 0;

    &__title {
      font-size: 50px;
      margin-bottom: 40px;
    }
    &__description {
      font-size: 22px;
      margin-bottom: 100px;
    }
    &__item {
      margin-bottom: 50px;
    }
    &__logo {
      height: 35px;
    }
  }

  @media (max-width: 1600px) {
    padding: 80px 0;

    &__title {
      font-size: 40px;
      margin-bottom: 30px;
    }
    &__description {
      font-size: 16px;
      margin-bottom: 80px;
      line-height: 30px;
    }
    &__logo {
      height: 30px;
    }
  }
}