@import "source";

.coreService {
  margin: 150px 0 200px 0;

  &__title {
    margin-bottom: 250px;
  }

  &__row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 150px;
  }



  @media (max-width: 2880px) {
    font-size: 20px;
  }
}

.coreServiceInfo {
  display: flex;
  flex: 33.333%;
  justify-content: space-between;

  &__icon {
    margin-right: 50px;
    width: 90px;
  }

  &__img {
    width: 100%;
  }

  &__separator {
    width: 1px;
    border-left: 1px $colorWhiteGray solid;
  }

  &__column {
    margin: 0 100px 0 50px;
  }

  &__title {
    @include fontStyle('open_sansregular', 30px, $colorBlackGray, normal);
    margin-bottom: 50px;
  }

  &__description {
    @include fontStyle('open_sansregular', 22px, $colorGray, normal);
    line-height: 40px;
  }



  @media (max-width: 2880px) {

    &__icon {
      margin-right: 30px;
    }
    &__column {
      margin: 0 50px 0 30px;
    }
  }
}