@import "source";

.footer {
  padding: 100px 0;
  background-image: url("../img/footer/Path.png");
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  text-align: center;

  &__divLogo {}
  &__logo {
    height: 120px;
    margin-bottom: 100px;
  }
  &__author {
    @include fontStyle('vidalokaregular', 35px, $colorWhite, normal);
    margin-bottom: 100px;
  }
  &__links {}
  &__linkItem {
    font-size: 70px;
    color: $colorWhite;
    margin: 0 40px;
    text-decoration: none;

    &:hover {
      color: $colorYellow;
    }
  }



  @media (max-width: 2880px) {

    &__logo {
      height: 100px;
    }
    &__author {
      font-size: 30px;
    }
    &__linkItem {
      font-size: 50px;
    }
  }

  @media (max-width: 2560px) {
    padding: 80px 0;

    &__logo {
      height: 80px;
      margin-bottom: 70px;
    }
    &__author {
      font-size: 26px;
      margin-bottom: 70px;
    }
    &__linkItem {
      font-size: 40px;
    }
  }

  @media (max-width: 1920px) {
    padding: 70px 0;

    &__logo {
      height: 70px;
      margin-bottom: 40px;
    }
    &__author {
      font-size: 22px;
      margin-bottom: 40px;
    }
    &__linkItem {
      font-size: 30px;
      margin: 0 20px;
    }
  }

  @media (max-width: 1600px) {
    padding: 50px 0;

    &__logo {
      height: 50px;
      margin-bottom: 20px;
    }
    &__author {
      font-size: 16px;
      margin-bottom: 30px;
    }
    &__linkItem {
      font-size: 25px;
    }
  }
}