@import "source";

.join {
  background-image: url("../img/join/Path.png");
  padding: 250px 0 250px 0;

  &__title {
    font-size: 120px;
    margin-bottom: 50px;
    color: $colorWhite;
  }
  &__description {
    margin: 0 auto 150px auto;
    width: 40%;
    line-height: 50px;
  }
  &__form {
    text-align: center;
  }
  &__mailInput {
    width: 40%;
    height: 120px;
    padding: 0 50px;
    border: none;
    background-color: $colorGrayBlue;
    @include fontStyle('open_sansregular', 30px, $colorWhite, normal);

    &::placeholder {
      color: $colorWhite;
    }
  }
  &__submit {
    width: 15%;
    height: 120px;
    border: none;
    margin-left: 50px;
    position: relative;
    top: 3px;
    background-color: $colorYellow;
    @include fontStyle('open_sansregular', 35px, $colorBlack, normal);

    &:hover {
      opacity: 0.8;
    }
  }



  @media (max-width: 2880px) {
    padding: 200px 0;

    &__title {
      font-size: 90px;
    }
    &__mailInput {
      height: 100px;
      font-size: 28px;
    }
    &__submit {
      height: 100px;
    }
  }

  @media (max-width: 2560px) {
    padding: 120px 0;

    &__title {
      font-size: 80px;
    }
    &__description {
      font-size: 24px;
      margin-bottom: 100px;
    }
    &__mailInput {
      height: 90px;
      font-size: 26px;
      padding: 0 40px;
    }
    &__submit {
      height: 90px;
      font-size: 30px;
    }
  }

  @media (max-width: 1920px) {
    padding: 100px 0;

    &__title {
      font-size: 65px;
    }
    &__description {
      font-size: 22px;
      margin-bottom: 80px;
      line-height: 35px;
    }
    &__mailInput {
      height: 70px;
      padding: 0 30px;
      font-size: 22px;
    }
    &__submit {
      height: 70px;
      font-size: 25px;
      margin-left: 30px;
      top: 1px;
    }
  }

  @media (max-width: 1600px) {
    padding: 80px 0;

    &__title {
      font-size: 50px;
      margin-bottom: 30px;
    }
    &__description {
      font-size: 16px;
      margin-bottom: 50px;
      line-height: 25px;
    }
    &__mailInput {
      height: 50px;
      padding: 0 20px;
      font-size: 16px;
    }
    &__submit {
      height: 50px;
      font-size: 20px;
      margin-left: 10px;
      top: 1px;
    }
  }
}