@import "source";

@keyframes animateVisible {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.portfolio {
  padding-top: 200px;

  &__title {
    margin-bottom: 50px;
  }
  &__description {
    margin: 0 auto 200px auto;
  }
  &__menu {
    margin-bottom: 150px;
  }
  &__listButtons {
    display: flex;
    justify-content: center;
    list-style: none;
  }
  &__button {
    margin: 0 10px;
    padding: 30px 80px;
    border: 4px $colorYellow solid;
    @include fontStyle('open_sansregular', 30px, $colorDarkBlue, normal);
    cursor: pointer;

    &--active {
      background-color: $colorYellow;
    }
  }



  @media (max-width: 2880px) {

    &__button {
      padding: 25px 60px;
      font-size: 25px;
    }
  }

  @media (max-width: 2560px) {
    padding-top: 120px;

    &__description {
      font-size: 24px;
      margin-bottom: 130px;
    }
    &__menu {
      margin-bottom: 80px;
    }
    &__button {
      padding: 17px 50px;
      font-size: 23px;
    }
  }

  @media (max-width: 1920px) {
    padding-top: 100px;

    &__title {
      margin-bottom: 40px;
      font-size: 50px;
    }
    &__description {
      margin-bottom: 100px;
      font-size: 20px;
    }
    &__menu {
      margin-bottom: 60px;
    }
    &__button {
      padding: 13px 40px;
      font-size: 20px;
      margin: 0 5px;
    }
  }

  @media (max-width: 1600px) {
    padding-top: 80px;

    &__title {
      font-size: 40px;
      margin-bottom: 30px;
    }
    &__description {
      font-size: 16px;
      margin-bottom: 60px;
    }
    &__menu {
      margin-bottom: 40px;
    }
    &__button {
      padding: 8px 30px;
      font-size: 15px;
      border: 2px $colorYellow solid;
    }
  }

  @media (max-width: 991px) {
    padding-top: 60px;

    &__title {
      font-size: 35px;
      margin-bottom: 20px;
    }
    &__description {
      font-size: 14px;
      margin-bottom: 50px;
    }
    &__button {
      font-size: 14px;
      padding: 7px 25px;
    }
  }
}

.works {
  display: flex;
  width: 100%;
  height: auto;

  &__column {
    display: flex;
    flex-direction: column;
    height: 1600px;

    &:nth-child(1) {
      flex: 26%;
    }
    &:nth-child(2) {
      flex: 74%;
    }
  }
  &__row {
    display: flex;
    height: 100%;
  }
  &__item {
    width: 100%;
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    &:before {
      content: ' ';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 1%;
      height: 100%;
      background-color: $colorYellow;
      opacity: 0;
      transition: opacity 1s, width 1s;
    }

    &:hover:before {
      opacity: 0.8;
      width: 100%;
    }

    & *{
      opacity: 0;
      transition: opacity 1s;
    }

    &:hover *{
      opacity: 1;
    }
  }
  &__itemTitle {
    position: relative;
    z-index: 2;
    @include fontStyle('vidalokaregular', 63px, $colorBlack, normal);
    margin-bottom: 100px;
  }
  &__itemDescription {
    position: relative;
    z-index: 2;
    @include fontStyle('open_sansregular', 35px, $colorDarkGray, normal);
    line-height: 175%;
    margin-bottom: 60px;
  }
  &__itemButton {
    position: relative;
    z-index: 2;
    @include fontStyle('open_sansregular', 35px, $colorDarkBlue, bold);
    text-decoration: none;
    border: 4px solid $colorDarkBlue;
    padding: 20px 0;
    width: 400px;
    text-align: center;
  }



  @media (max-width: 3200px) {

    &__item {
      padding: 70px;
    }
  }

  @media (max-width: 2880px) {

    &__column {
      height: 1250px;
    }
    &__itemTitle {
      margin-bottom: 70px;
      font-size: 53px;
    }
    &__itemDescription {
      margin-bottom: 40px;
      font-size: 30px;
    }
    &__itemButton {
      font-size: 30px;
    }
  }

  @media (max-width: 2560px) {

    &__column {
      height: 1100px;
    }
    &__item {
      padding: 50px;
    }
    &__itemTitle {
      margin-bottom: 50px;
      font-size: 44px;
    }
    &__itemDescription {
      margin-bottom: 30px;
      font-size: 26px;
    }
    &__itemButton {
      font-size: 26px;
      width: 300px;
    }
  }

  @media (max-width: 1920px) {

    &__column {
      height: 850px;
    }
    &__itemTitle {
      margin-bottom: 40px;
      font-size: 30px;
    }
    &__itemDescription {
      margin-bottom: 20px;
      font-size: 20px;
    }
    &__itemButton {
      font-size: 20px;
      padding: 12px 0;
      width: 200px;
    }
  }

  @media (max-width: 1600px) {

    &__column {
      height: 650px;
    }
    &__item {
      padding: 30px;
    }
    &__itemTitle {
      margin-bottom: 20px;
      font-size: 28px;
    }
    &__itemDescription {
      margin-bottom: 15px;
      font-size: 15px;
    }
    &__itemButton {
      font-size: 16px;
      padding: 8px 0;
      width: 150px;
      border: 2px solid $colorDarkBlue;
    }
  }

  @media (max-width: 1280px) {

    &__column {
      height: 550px;
    }
    &__item {
      padding: 20px 25px;
    }
    &__itemTitle {
      margin-bottom: 15px;
      font-size: 25px;
    }
    &__itemDescription {
      margin-bottom: 10px;
      font-size: 14px;
    }
    &__itemButton {
      font-size: 14px;
      padding: 7px 0;
      width: 130px;
      border: 2px solid $colorDarkBlue;
    }
  }

  @media (max-width: 991px) {

    &__column {
      height: 500px;
    }
    &__item {
      padding: 15px;
    }
    &__itemTitle {
      font-size: 20px;
    }
    &__itemDescription {
      font-size: 12px;
    }
    &__itemButton {
      font-size: 12px;
      padding: 6px 0;
      width: 100px;
      border: 2px solid $colorDarkBlue;
    }
  }

  @media (max-width: 767px) {
    position: relative;
    padding-bottom: 250px;

    &__column {
      height: 400px;

      &:nth-child(1) {
        flex: 40%;
      }
    }
    &__column:nth-child(2) &__row:nth-child(1) {
      flex-direction: column;
    }
    &__row:nth-child(2) {
      position: absolute;
      top: 400px;
      left: 0;
      height: 250px;
      width: 100%;
    }
    &__item {
      height: 100%;
      width: auto;
      padding: 0 15px;
    }
  }

  @media (max-width: 575px) {
    padding-bottom: 700px;

    &__row:nth-child(2) {
      flex-direction: column;
      height: 700px;
    }
  }
}