@import "source";

@keyframes animateVisible {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.portfolio {
  padding-top: 200px;

  &__title {
    margin-bottom: 50px;
  }
  &__description {
    margin: 0 auto 200px auto;
  }
  &__menu {
    margin-bottom: 150px;
  }
  &__listButtons {
    display: flex;
    justify-content: center;
    list-style: none;
  }
  &__button {
    margin: 0 10px;
    padding: 30px 80px;
    border: 4px $colorYellow solid;
    @include fontStyle('open_sansregular', 30px, $colorDarkBlue, normal);

    &--active {
      background-color: $colorYellow;
    }
  }



  @media (max-width: 2880px) {

    &__button {
      padding: 25px 60px;
      font-size: 25px;
    }
  }

  @media (max-width: 2560px) {
    padding-top: 120px;

    &__description {
      font-size: 24px;
      margin-bottom: 130px;
    }
    &__menu {
      margin-bottom: 80px;
    }
    &__button {
      padding: 17px 50px;
      font-size: 23px;
    }
  }

  @media (max-width: 1920px) {
    padding-top: 100px;

    &__title {
      margin-bottom: 40px;
      font-size: 50px;
    }
    &__description {
      margin-bottom: 100px;
      font-size: 20px;
    }
    &__menu {
      margin-bottom: 60px;
    }
    &__button {
      padding: 13px 40px;
      font-size: 20px;
      margin: 0 5px;
    }
  }
}

.works {
  display: flex;
  width: 100%;
  height: auto;

  &__column {
    display: flex;
    flex-direction: column;
    height: 90vh;

    &:nth-child(1) {
      flex: 26%;
    }
    &:nth-child(2) {
      flex: 74%;
    }
  }
  &__row {
    display: flex;
    height: 100%;
  }
  &__item {
    width: 100%;
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    &:before {
      content: ' ';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 1%;
      height: 100%;
      background-color: $colorYellow;
      opacity: 0;
      transition: opacity 1s, width 1s;
    }

    &:hover:before {
      opacity: 0.8;
      width: 100%;
    }

    & *{
      opacity: 0;
      transition: opacity 1s;
    }

    &:hover *{
      opacity: 1;
    }
  }
  &__itemTitle {
    position: relative;
    z-index: 2;
    @include fontStyle('vidalokaregular', 63px, $colorBlack, normal);
    margin-bottom: 150px;
  }
  &__itemDescription {
    position: relative;
    z-index: 2;
    @include fontStyle('open_sansregular', 35px, $colorDarkGray, normal);
    line-height: 175%;
    margin-bottom: 100px;
  }
  &__itemButton {
    position: relative;
    z-index: 2;
    @include fontStyle('open_sansregular', 35px, $colorDarkBlue, bold);
    text-decoration: none;
    border: 4px solid $colorDarkBlue;
    padding: 20px 0;
    width: 400px;
    text-align: center;
  }



  @media (max-width: 3200px) {

    &__item {
      padding: 70px 90px;
    }
  }

  @media (max-width: 2880px) {

    &__itemTitle {
      margin-bottom: 80px;
      font-size: 53px;
    }
    &__itemDescription {
      margin-bottom: 50px;
      font-size: 30px;
    }
    &__itemButton {
      font-size: 30px;
    }
  }

  @media (max-width: 2560px) {

    &__item {
      padding: 50px;
    }
  }

  @media (max-width: 1920px) {

    &__itemTitle {
      margin-bottom: 40px;
      font-size: 35px;
    }
    &__itemDescription {
      margin-bottom: 30px;
      font-size: 22px;
    }
    &__itemButton {
      font-size: 25px;
      padding: 15px 0;
      width: 250px;
    }
  }
}