* {
  margin: 0;
  padding: 0;

  &:focus {
    outline: none;
  }
}

body, html {
  height: 100%;
}

.forPage {
  min-height: 100%;
  position: relative;
}

img {
  width: auto;
  height: auto;
  max-width: 100%;
}

button {
  cursor: pointer;
}