@import "source";

.service {
  padding: 300px 0;

  &__title {
    margin-bottom: 50px;
  }
  &__description {
    margin: 0 auto 200px auto;
  }
  &__infoBlocks {
    display: flex;
    flex-direction: column;
  }
  &__row {
    display: flex;
    height: 700px;
    margin: 35px 0;
  }
  &__item {
    flex: 33.333%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 100%;
    margin: 0 35px;
    padding: 0 70px;
    color: $colorWhite;

    &Title {
      @include fontStyle('open_sansregular', 50px, '', normal);
      margin-bottom: 50px;
    }
    &Description {
      @include fontStyle('open_sansregular', 30px, '', normal);
      line-height: 50px;
      margin-bottom: 100px;
    }
    &Link {
      @include fontStyle('open_sansregular', 35px, $colorYellow, bold);

      &--black {
        color: $colorBlack;
      }
    }
    &--red {
      background-color: #ff5252;
    }
    &--green {
      background-color: #4caf50;
    }
    &--purple {
      background-color: #673ab7;
    }
    &--blue {
      background-color: #2196f3;
    }
    &--yellow {
      background-color: $colorYellow;
      color: #000;
    }
    &--aqua {
      background-color: #00bcd4;
    }
  }
}