$colorWhite: #fff;
$colorWhiteGray: #f1f1f1;
$colorGray: #969595;
$colorGrayBlue: #5c5f66;
$colorDarkGray: #434242;
$colorBlackGray: #333;
$colorDarkBlue: #181a1f;
$colorBlack: #000;
$colorYellow: #ffeb3b;

@mixin fontStyle($font, $size, $color, $weight){
  font-family: $font;
  font-size: $size;
  color: $color;
  font-weight: $weight;
}