@import "source";

.stats {
  padding: 150px 0;
  text-align: center;
  background-image: url('../img/stats/background.png');

  &__content {
    display: flex;
  }

  &__item {
    flex: 25%;
    display: flex;
    flex-direction: column;
  }

  &__icon {
    width: 80px;
    margin: 0 auto;
  }

  &__number {
    @include fontStyle('vidalokaregular', 100px, $colorWhite, normal);
    margin: 50px 0;
  }

  &__name {
    @include fontStyle('vidalokaregular', 35px, $colorYellow, normal);
    text-transform: uppercase;
  }



  @media (max-width: 2880px) {

    &__icon {
      width: 65px;
    }
    &__number {
      font-size: 80px;
    }
    &__name {
      font-size: 30px;
    }
  }

  @media (max-width: 2560px) {
    padding: 120px 0;

    &__icon {
      width: 55px;
    }
    &__number {
      font-size: 65px;
    }
    &__name {
      font-size: 26px;
    }
  }

  @media (max-width: 1920px) {
    padding: 100px 0;

    &__icon {
      width: 45px;
    }
    &__number {
      margin: 30px 0;
      font-size: 50px;
    }
    &__name {
      font-size: 20px;
    }
  }

  @media (max-width: 1600px) {
    padding: 80px 0;

    &__icon {
      width: 40px;
    }
    &__number {
      font-size: 44px;
      margin: 25px 0;
    }
    &__name {
      font-size: 18px;
    }
  }

  @media (max-width: 1366px) {

    &__icon {
      width: 33px;
    }
    &__number {
      font-size: 38px;
      margin: 20px 0;
    }
    &__name {
      font-size: 16px;
    }
  }
}