@import "source";

.team {
  padding: 250px 0;

  &__title {
    font-size: 120px;
    margin-bottom: 70px;
  }
  &__description {
    margin: 0 auto 250px auto;
    width: 40%;
  }
  &__workers {
    display: flex;
  }
  &__item {
    flex: 33.333%;
    margin: 0 35px;
  }
  &__photo {
    width: 100%;
  }
  &__info {
    text-align: center;
    padding: 40px 0;
    border: 3px $colorWhiteGray solid;
    margin-top: -4px;
  }
  &__name {
    @include fontStyle('open_sansregular', 35px, $colorBlackGray, normal);
    margin-bottom: 40px;
  }
  &__text {
    @include fontStyle('open_sansregular', 25px, $colorGray, normal);
    width: 80%;
    margin: 0 auto;
    line-height: 50px;
  }
  &__links {
    display: flex;
    justify-content: center;
    padding: 40px 0;
    border: 3px $colorWhiteGray solid;
    border-top: none;
  }
  &__linkItem {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    color: #dadada;
    margin: 0 20px;
    border: 2px $colorWhiteGray solid;
    border-radius: 100%;
    width: 80px;
    height: 80px;
    text-decoration: none;

    &:hover {
      background-color: $colorYellow;
      border: 2px solid $colorYellow;
      color: #fff;
    }
  }


  @media (max-width: 2880px) {
    padding: 200px 0;

    &__title {
      font-size: 90px;
    }
    &__description {
      margin-bottom: 150px;
    }
    &__linkItem {
      font-size: 30px;
      width: 60px;
      height: 60px;
    }
  }

  @media (max-width: 2560px) {
    padding: 120px 0;

    &__title {
      font-size: 80px;
    }
    &__description {
      font-size: 24px;
      margin-bottom: 120px;
    }
    &__item {
      margin: 0 20px;
    }
    &__name {
      font-size: 30px;
    }
    &__text {
      font-size: 22px;
      line-height: 40px;
    }
  }
}